
    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-down:before { content: "\f100"; }
.flaticon-right-thin:before { content: "\f101"; }
.flaticon-right:before { content: "\f102"; }
.flaticon-down-caret:before { content: "\f103"; }
.flaticon-up-carret:before { content: "\f104"; }
.flaticon-down-long:before { content: "\f105"; }
.flaticon-file:before { content: "\f106"; }
.flaticon-notification:before { content: "\f107"; }
.flaticon-transfer:before { content: "\f108"; }
.flaticon-apple:before { content: "\f109"; }
.flaticon-mail:before { content: "\f10a"; }
.flaticon-wallet:before { content: "\f10b"; }
.flaticon-locked:before { content: "\f10c"; }
.flaticon-play:before { content: "\f10d"; }

    $font-Flaticon-down: "\f100";
    $font-Flaticon-right-thin: "\f101";
    $font-Flaticon-right: "\f102";
    $font-Flaticon-down-caret: "\f103";
    $font-Flaticon-up-carret: "\f104";
    $font-Flaticon-down-long: "\f105";
    $font-Flaticon-file: "\f106";
    $font-Flaticon-notification: "\f107";
    $font-Flaticon-transfer: "\f108";
    $font-Flaticon-apple: "\f109";
    $font-Flaticon-mail: "\f10a";
    $font-Flaticon-wallet: "\f10b";
    $font-Flaticon-locked: "\f10c";
    $font-Flaticon-play: "\f10d";
