

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
color: inherit;
}

.flaticon-down:before { content: "\f100"; }
.flaticon-right-thin:before { content: "\f101"; }
.flaticon-right:before { content: "\f102"; }
.flaticon-down-caret:before { content: "\f103"; }
.flaticon-up-carret:before { content: "\f104"; }
.flaticon-down-long:before { content: "\f105"; }
.flaticon-file:before { content: "\f106"; }
.flaticon-notification:before { content: "\f107"; }
.flaticon-transfer:before { content: "\f108"; }
.flaticon-apple:before { content: "\f109"; }
.flaticon-mail:before { content: "\f10a"; }
.flaticon-wallet:before { content: "\f10b"; }
.flaticon-locked:before { content: "\f10c"; }
.flaticon-play:before { content: "\f10d"; }
